    {% for key, item in items.pages %}
        <li class="pager__item{{ current == key ? ' active' : '' }}">
          {% if current == key %}
            {% set title = 'Current page'|t %}
          {% else %}
            {% set title = 'Go to page @key'|t({'@key': key}) %}
          {% endif %}
          <a href="{{ item.href }}" title="{{ title }}"{{ item.attributes|without('href', 'title') }}>
           {{- key -}}
          </a>
        </li>
      {% endfor %}